-.json
{
  "data": [
    {
      "createdAt": "2025-09-09T16:44:23.423Z",
      "updatedAt": "2025-09-09T16:48:49.000Z",
      "id": "tbcP3UDSZNaGhIQd",
      "name": "n8n backup",
      "active": false,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {
            "rule": {
              "interval": [
                {}
              ]
            }
          },
          "id": "c660a0e5-1824-4973-a80d-5a38d2a7caa3",
          "name": "Schedule Trigger",
          "type": "n8n-nodes-base.scheduleTrigger",
          "position": [
            -144,
            144
          ],
          "typeVersion": 1.2
        },
        {
          "parameters": {
            "filters": {},
            "requestOptions": {}
          },
          "id": "60588718-2695-48c8-babd-6fb2762a6be2",
          "name": "Retrieve workflows",
          "type": "n8n-nodes-base.n8n",
          "position": [
            352,
            144
          ],
          "typeVersion": 1,
          "credentials": {
            "n8nApi": {
              "id": "TdccU0kfYhZrPYqr",
              "name": "n8n account"
            }
          }
        },
        {
          "parameters": {
            "fieldsToAggregate": {
              "fieldToAggregate": [
                {
                  "fieldToAggregate": "name"
                }
              ]
            },
            "options": {}
          },
          "id": "e6d4a61c-015c-4ec7-b697-8d9b9ca7cbed",
          "name": "Aggregate",
          "type": "n8n-nodes-base.aggregate",
          "position": [
            192,
            144
          ],
          "typeVersion": 1
        },
        {
          "parameters": {
            "resource": "file",
            "operation": "list",
            "owner": {
              "__rl": true,
              "value": "bitcond",
              "mode": "name"
            },
            "repository": {
              "__rl": true,
              "value": "n8n",
              "mode": "list",
              "cachedResultName": "n8n",
              "cachedResultUrl": "https://github.com/bitcond/n8n"
            },
            "filePath": "="
          },
          "id": "87ae55f1-4947-4e38-987a-e2d757b317bc",
          "name": "List files from repo",
          "type": "n8n-nodes-base.github",
          "position": [
            32,
            144
          ],
          "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
          "typeVersion": 1,
          "alwaysOutputData": true,
          "credentials": {
            "githubApi": {
              "id": "YBy8TgU29AhtGZmF",
              "name": "GitHub account"
            }
          }
        },
        {
          "parameters": {
            "authentication": "oAuth2",
            "resource": "file",
            "operation": "edit",
            "owner": {
              "__rl": true,
              "mode": "name",
              "value": ""
            },
            "repository": {
              "__rl": true,
              "mode": "list",
              "value": ""
            },
            "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
            "fileContent": "={{ $('To base64').item.json.data }}",
            "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
          },
          "id": "c1fbf4c4-eb71-4295-9469-294d7f5a525c",
          "name": "Update file",
          "type": "n8n-nodes-base.github",
          "position": [
            1152,
            64
          ],
          "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
          "typeVersion": 1
        },
        {
          "parameters": {
            "authentication": "oAuth2",
            "resource": "file",
            "owner": {
              "__rl": true,
              "mode": "name",
              "value": ""
            },
            "repository": {
              "__rl": true,
              "mode": "list",
              "value": ""
            },
            "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
            "fileContent": "={{ $('To base64').item.json.data }}",
            "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
          },
          "id": "3f2d499e-e02f-499b-8432-b725fb835a68",
          "name": "Upload file",
          "type": "n8n-nodes-base.github",
          "position": [
            1152,
            224
          ],
          "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
          "typeVersion": 1
        },
        {
          "parameters": {
            "conditions": {
              "string": [
                {
                  "value1": "={{ $('Aggregate').item.json.name }}",
                  "operation": "contains",
                  "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
                }
              ]
            }
          },
          "id": "7f564963-3331-42de-bde3-c870e9521338",
          "name": "Check if file exists",
          "type": "n8n-nodes-base.if",
          "position": [
            992,
            144
          ],
          "typeVersion": 1
        },
        {
          "parameters": {
            "operation": "toJson",
            "mode": "each",
            "options": {
              "format": true
            }
          },
          "id": "8c35c587-4007-44a1-a7ac-aa7997861bbf",
          "name": "Json file",
          "type": "n8n-nodes-base.convertToFile",
          "position": [
            512,
            144
          ],
          "typeVersion": 1.1
        },
        {
          "parameters": {
            "operation": "binaryToPropery",
            "options": {}
          },
          "id": "21c22a19-62bf-4fd3-aa99-b2169d179280",
          "name": "To base64",
          "type": "n8n-nodes-base.extractFromFile",
          "position": [
            672,
            144
          ],
          "typeVersion": 1
        },
        {
          "parameters": {
            "content": "### Retrieve previous file names from Github",
            "height": 380,
            "width": 300,
            "color": 5
          },
          "id": "7f3dfb4a-a963-4734-8fe5-5dc21653c29b",
          "name": "Sticky Note1",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            0,
            0
          ],
          "typeVersion": 1
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
                  "name": "commitDate",
                  "type": "string",
                  "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
                },
                {
                  "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
                  "name": "fileName",
                  "type": "string",
                  "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
                }
              ]
            },
            "options": {}
          },
          "id": "a438d92a-a705-4ad7-8673-cbcad13ff90a",
          "name": "Commit date & file name",
          "type": "n8n-nodes-base.set",
          "position": [
            832,
            144
          ],
          "typeVersion": 3.4
        },
        {
          "parameters": {
            "content": "### Retrieve and process workflows from n8n",
            "height": 380,
            "width": 460,
            "color": 3
          },
          "id": "e966e740-21ee-4574-b878-600d10a624df",
          "name": "Sticky Note2",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            320,
            0
          ],
          "typeVersion": 1
        },
        {
          "parameters": {
            "content": "### Commit + edit/create files if needed",
            "height": 380,
            "width": 460,
            "color": 4
          },
          "id": "640ed3f6-63e3-47c6-a9f0-3a7ee3064890",
          "name": "Sticky Note3",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            800,
            0
          ],
          "typeVersion": 1
        }
      ],
      "connections": {
        "Aggregate": {
          "main": [
            [
              {
                "node": "Retrieve workflows",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Json file": {
          "main": [
            [
              {
                "node": "To base64",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "To base64": {
          "main": [
            [
              {
                "node": "Commit date & file name",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Schedule Trigger": {
          "main": [
            [
              {
                "node": "List files from repo",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Retrieve workflows": {
          "main": [
            [
              {
                "node": "Json file",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Check if file exists": {
          "main": [
            [
              {
                "node": "Update file",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Upload file",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "List files from repo": {
          "main": [
            [
              {
                "node": "Aggregate",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Commit date & file name": {
          "main": [
            [
              {
                "node": "Check if file exists",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1"
      },
      "staticData": null,
      "meta": null,
      "pinData": {},
      "versionId": "9ee0d0e0-df3a-49ed-9b7b-5b55e8343004",
      "triggerCount": 0,
      "shared": [
        {
          "createdAt": "2025-09-09T16:44:23.427Z",
          "updatedAt": "2025-09-09T16:44:23.427Z",
          "role": "workflow:owner",
          "workflowId": "tbcP3UDSZNaGhIQd",
          "projectId": "y0j9Ntym6Dm3Y9my"
        }
      ],
      "tags": []
    }
  ],
  "nextCursor": null
}